@using Microsoft.EntityFrameworkCore.Internal
@model Product

<div class="text-left">
    <h1>Produit</h1>
    <p>Nom: @Model.name</p>
    <p>Description : @Model.description</p>
    <p>Note sur 100 : @Model.rating</p>
    <h4>Détails</h4>
    <p>Couleurs Disponibles: @Model.details.availableColors.Join(",")</p>
    <p>Taille: @Model.details.size</p>
    <p>Prix: $@Model.details.price</p>
    <sub>Vendu par @ViewBag.Vendor</sub>
</div>